CoreAudioSample/Chapter9/Chapter9.xcodeproj/project.xcworkspace/xcuserdata/EXILIAS.xcuserdatad/UserInterfaceState.xcuserstate
LaughTrack/LaughTrack.xcodeproj/project.xcworkspace/xcuserdata/EXILIAS.xcuserdatad/UserInterfaceState.xcuserstate
