CoreAudioSample/Chapter9/Chapter9.xcodeproj/project.xcworkspace/xcuserdata/EXILIAS.xcuserdatad/UserInterfaceState.xcuserstate
LaughTrack/LaughTrack.xcodeproj/project.xcworkspace/xcuserdata/EXILIAS.xcuserdatad/UserInterfaceState.xcuserstate
CoreAudioSample/Chapter12/Chapter12.xcodeproj/project.xcworkspace/contents.xcworkspacedata
CoreAudioSample/Chapter12/Chapter12.xcodeproj/project.xcworkspace/xcuserdata/EXILIAS.xcuserdatad/UserInterfaceState.xcuserstate
CoreAudioSample/Chapter12/Chapter12.xcodeproj/xcuserdata/EXILIAS.xcuserdatad/xcschemes/Chapter12.xcscheme
CoreAudioSample/Chapter12/Chapter12.xcodeproj/xcuserdata/EXILIAS.xcuserdatad/xcschemes/xcschememanagement.plist
Proximity Sensor/Proximity Sensor.xcodeproj/project.xcworkspace/contents.xcworkspacedata
Proximity Sensor/Proximity Sensor.xcodeproj/project.xcworkspace/xcuserdata/EXILIAS.xcuserdatad/UserInterfaceState.xcuserstate
Proximity Sensor/Proximity Sensor.xcodeproj/xcuserdata/EXILIAS.xcuserdatad/xcschemes/Proximity Sensor.xcscheme
Proximity Sensor/Proximity Sensor.xcodeproj/xcuserdata/EXILIAS.xcuserdatad/xcschemes/xcschememanagement.plist
CoreAudioSample/PowerSpectrumView/RemoteIOPlayThru.xcodeproj/project.xcworkspace/xcuserdata/EXILIAS.xcuserdatad/UserInterfaceState.xcuserstate
CoreAudioSample/PowerSpectrumView/RemoteIOPlayThru.xcodeproj/xcuserdata/EXILIAS.xcuserdatad/xcschemes/RemoteIOPlayThru.xcscheme
CoreAudioSample/PowerSpectrumView/RemoteIOPlayThru.xcodeproj/xcuserdata/EXILIAS.xcuserdatad/xcschemes/xcschememanagement.plist
